<div class="order_site">您的位置：<a href="#">保纳通</a> > <a href="#">会员中心</a> > 注册</div>

<!--content-->

<!--content-->
<div class="registerbox">

  <div class="registerLeft">
    <div class="registerLeftBox">
      <div class="registerLeftTitel">注册</div>
      <%= render 'form' %>
    </div>
  </div>
  <div class="registerRight">
    <%= image_tag "loginRight-01.png" %>
  </div>                
</div>
