<div class="order_site">您的位置：<a href="#">保纳通</a> > <a href="#">会员中心</a> > 代金券</div>
<!--content-->
<div class="order_main clearfix">
  <%= render partial: 'shared/mgr_panels', locals: { user: current_user } %>
  <div class="mainright">
    <%= render(partial: 'form') %>
  </div>
</div>
<div class="clear"></div>						
