<%= elevator_form.fields_for :elevator do |f| %>
  <div class="form-group">
    <%= f.label :kind, class: 'control-label' %>
    <%= f.text_field :kind, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%# f.label :quantity, class: 'control-label' %>
    <%# f.text_field :quantity, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%# f.label :year_of_manufacture, class: 'control-label' %>
    <%# f.text_field :year_of_manufacture, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%# f.label :using_years, class: 'control-label' %>
    <%# f.text_field :using_years, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%# f.label :overhaul_interval, class: 'control-label' %>
    <%# f.number_field :overhaul_interval, class: 'form-control' %>
  </div>
<% end %>
