<div class="indexMedicinetybox">

  <div class="indexMedicinetyTitel"><%= image_tag "index-index37.jpg" %><a href="#">医疗健康&养老年金</a> </div>

  <div class="indexMedicinety">
    <div class="indexMedicinety1">
      <table width="300" border="0">

        <tr>
          <td width="150" height="27"><span><a href="#">医疗健康</a></span> </td>
          <td width="150"><a href="#">门诊医疗费用 </a><br /></td>
        </tr>
        <tr>
          <td width="150" height="27"> </td>
          <td><a href="#">重大疾病 </a><br /></td>
        </tr>
        <tr>
          <td width="150" height="27">&nbsp; </td>
          <td><a href="#">意外事故 </a><br /></td>
        </tr>
        <tr>
          <td width="150" height="27">&nbsp; </td>
          <td><a href="#">三重保障 </a><br /></td>
        </tr>

      </table>
    </div>
    <div class="indexMedicinety2">
      <table width="300" border="0">

        <tr>
          <td width="150" height="27"><span><a href="#">养老年金</a></span></td>
          <td width="150"><a href="#">合理避税</a><br /></td>
        </tr>
        <tr>
          <td width="150" height="27">&nbsp;</td>
          <td><a href="#">多重福利</a><br /></td>
        </tr>
        <tr>
          <td height="27">&nbsp;</td>
          <td height="27"><a href="#">稳定人才 </a></td>
        </tr>
      </table>

    </div>
    <div class="indexMedicinety3">
      <div class="indexMedicinety3Til">  <%= image_tag "index-index35.jpg" %>  <a href="#">更多险种</a> </div>
      <ul>
        <li><a href="#">[险种名称]广告语广告语<br/>
          ￥<span>20.00</span>起</a>
        </li>
        <li><a href="#">[险种名称]广告语广告语<br/>
          ￥<span>20.00</span>起</a>
        </li>
        <li><a href="#">[险种名称]广告语广告语<br/>
          ￥<span>20.00</span>起</a>
        </li>
      </ul>                                                                   

    </div>

  </div>

</div>
