<div class="indexDiscountbox">
  <div class="indexDiscountboxMid">
    <div class="indexDiscountTitel">
      <ul>
        <li><a href="#" id="bnt-discount">会员优惠</a></li>
        <li><a href="#" id="bnt-recommend" class="hover">新品推荐</a></li>
      </ul>
    </div>

    <div id="discount" class="discount-recommend">
      <div class="mod1">
        <div class="indexDiscountLet">
          <div class="indexDiscountLetTitel"><a href="#">某某保险一</a></div>
          <div class="indexDiscountLetnr">
            <a href="#"><%= image_tag "index-index19.jpg", class: "indexDiscountLetimg1" %></a>
            <h1><a href="#">产品特色一</a></h1>
            <span> <a href="#"> 1、综合交通保障，特色特色。<br/>
                2、意外伤残，医疗。</a></span><br/>
            <h2><a href="#">￥<strong>100.00</strong>起</a></h2>
            <input name="" type="button" class="indexDiscountLetnrh3" value="我要投保"   />
            <input name="" type="button" class="indexDiscountLetnrh4" value="我要投保"   />
            <div class="clear"></div>
            <div class="indexInsure">30天内<span>0</span> 人投保 </div>
          </div>
        </div>
      </div>

      <div class="mod1">
        <div class="indexDiscountRit">
          <div class="indexDiscountRitTitel"><a href="#">某某保险一</a></div>
          <div class="indexDiscountRitnr">
            <a href="#"> <%= image_tag "index-index21.jpg", class: "indexDiscountRitimg1" %></a>
            <h1><a href="#">产品特色</a></h1>
            <span><a href="#"> 1、综合交通保障，特色特色。<br/>
                2、意外伤残，医疗。</a></span><br/>
            <h2><a href="#">￥<strong>100.00</strong>起</a></h2>
            <input name="" type="button"  value="我要投保" class="indexDiscountRitnrh3"  />
            <input name="" type="button" class="indexDiscountLetnrh4" value="我要投保"   />
            <div class="clear"></div>
            <div class="indexInsure">30天内<span>0</span>人投保</div>
          </div>
        </div>
      </div>
    </div>

    <div id="recommend" class="discount-recommend">
      <div class="mod1">
        <div class="indexDiscountLet">
          <div class="indexDiscountLetTitel"><a href="#">某某保险</a></div>
          <div class="indexDiscountLetnr">
            <a href="#"><%= image_tag "index-index19.jpg", class: "indexDiscountLetimg1" %></a>
            <h1><a href="#">产品特色</a></h1>
            <span> <a href="#"> 1、综合交通保障，特色特色。<br/>
                2、意外伤残，医疗。</a></span><br/>
            <h2><a href="#">￥<strong>100.00</strong>起</a></h2>
            <input name="" type="button" class="indexDiscountLetnrh3" value="我要投保"   />
            <input name="" type="button" class="indexDiscountLetnrh4" value="我要投保"   />
            <div class="clear"></div>
            <div class="indexInsure">30天内<span>0</span>人投保</div>
          </div>
        </div>
      </div>


      <div class="mod1">
        <div class="indexDiscountRit">
          <div class="indexDiscountRitTitel"><a href="#">某某保险</a></div>
          <div class="indexDiscountRitnr">
            <a href="#"> <%= image_tag "index-index21.jpg", class: "indexDiscountRitimg1" %></a>
            <h1><a href="#">产品特色</a></h1>
            <span><a href="#"> 1、综合交通保障，特色特色。<br/>
                2、意外伤残，医疗。</a></span><br/>
            <h2><a href="#">￥<strong>100.00</strong>起</a></h2>
            <input name="" type="button"  value="我要投保" class="indexDiscountRitnrh3"  />
            <input name="" type="button" class="indexDiscountLetnrh4" value="我要投保"   />
            <div class="clear"></div>
            <div class="indexInsure">30天内<span>0</span>人投保</div>
          </div>
        </div>
      </div>
    </div>

  </div>

</div>
<div class="clear"></div>
