<div class="indexPropertybox">

  <div class="indexPropertyTitel"><%= image_tag "index-index30.jpg" %><a href="#">财产险</a></div>
  <div class="indexProperty">

    <div class="indexProperty1">
      <a href="#"><%= image_tag "index-index21.jpg", class: "indexProperty1img1" %></a>
      <h1><a href="#">商业型</a></h1>
      <span><a href="#">特点：各种建筑</a><br/></span>

      <h2><a href="#">￥<strong>100.00</strong>起</a></h2>
      <input name="" type="button" value="我要投保"   class="indexProperty1h3" />
    </div>

    <div class="indexProperty2">
      <a href="#"><%= image_tag "index-index24.jpg", class: "indexProperty2img1" %></a>
      <h1><a href="#">生产型 & 仓储型</a></h1>
      <span><a href="#"> 特点：价格  火灾  地震  水灾三重保障</a><br/></span>
      <h2><a href="#">￥<strong>100.00</strong>起</a></h2>
      <input name="" type="button" value="我要投保"  class="indexProperty2h3" />
    </div>

    <div class="indexProperty3">
      <div class="indexPropertyBoxRitTil">
        <%= image_tag "index-index35.jpg" %>  <a href="#"> 常见问题</a>
      </div>
      <ul>
        <li><a href="#">什么是财产险？</a></li>
        <li><a href="#">商业楼宇财产险条款？</a></li>
        <li><a href="#">工程保险条款？</a></li>
      </ul>	                                                                                
    </div>

  </div>
</div>  
