<%= form_for(user.profile, :url => { action: "update" }, :html => { :method => :patch, class: '' }) do |f| %>
  <div class='form-group'>
    <%= f.label :realname, class: 'control-label' %>
    <%= f.text_field :realname, class: 'form-control' %>
  </div>

  <div class='form-group'>
    <%= f.submit class: 'btn btn-primary' %>
  </div>
<% end %>
