<div class="user">

  <div class="panel panel-danger">
    <div class="panel-heading">
      <h3 class="panel-title">用户管理</h3>
    </div>
    <div class="panel-body">
      <ul>
        <li><%= link_to '显示所有用户', users_path %></li>
        <li><%= link_to '添加业务管理员', new_user_path %></li>
        <li><a href="#" class="">添加保险业务员</a></li>
        <li><a href="#" class="">添加园区管理员</a></li>
        <li><a href="#" class="">添加企业用户</a></li>
      </ul>
    </div>
  </div> <!-- panel -->

  <div class="panel panel-danger">
    <div class="panel-heading">
      <h3 class="panel-title">账户管理</h3>
    </div>
    <div class="panel-body">
      <ul>
        <li><%= link_to '会员资料', edit_user_path(user) %></li>
        <li><a href="#" class="">会员资料</a></li>
        <li><a href="#" class="">寄送地址</a></li>
        <li><a href="#" class="">账户安全</a></li>
        <li><a href="#" class="">常用联系人</a></li>
        <li><a href="#" class="">我的收藏夹</a></li>
        <li><a href="#" class="">订阅管理</a></li>
      </ul>
    </div>
  </div> <!-- panel -->

  <div class="panel panel-danger">
    <div class="panel-heading">
      <h3 class="panel-title">交易管理</h3>
    </div>
    <div class="panel-body">
      <ul>
        <li><a href="#" class="">收支明细</a></li>
        <li><a href="#" class="">充提记录</a></li>
        <li><a href="#" class="">消费记录</a></li>
      </ul>
    </div>
  </div> <!-- panel -->

</div> <!-- user -->
