<div class="row">
  <div class='col-md-6'>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">用户信息</h3>
      </div>
      <div class="panel-body">
        <p> 电子邮件: <%= @user.email %> </p>
        <p> 用户角色: <%= t(@user.role_name) %> </p>
        <p> 真实姓名: <%= @user.profile.realname %> </p>
        <p> 安全等级: 高</p>
      </div>
    </div> <!-- panel -->
  </div>
  <div class='col-md-6'>
    <%= render 'shortcut_buttons' %>
  </div>
</div>
