<div class='row'>
  <div class='col-md-6'>
    <%= render 'form_admin_profile' if @user.has_role? :admin %>
    <%= render 'form_moderator_profile' if @user.has_role? :moderator %>
    <%= debug @profile %>
  </div>
</div> <!-- .row -->
