<div class="row">
  <div class='nav-panel'>
    <div class='col-md-3'>
      <div class="list-group xyz-theme">
        <div class='list-group-item active'>
          <span class="glyphicon glyphicon-home"></span>
          个人和家庭保险
        </div>
        <div class="list-group-item">
          <div>
            <a href="#" class="main-item">旅游险</a>
          </div>
          <a href="#" class="sub-item">自驾出行</a>
          <a href="#" class="sub-item">航班延误</a>
        </div>
        <div class="list-group-item">
          <div>
            <a href="#" class="main-item">意外险</a>
          </div>
          <a href="#" class="sub-item">自驾出行</a>
          <a href="#" class="sub-item">航班延误</a>
        </div>
        <a href="#" class="list-group-item">健康险</a>
        <a href="#" class="list-group-item">财产险</a>
        <a href="#" class="list-group-item">理财险</a>
        <a href="#" class="list-group-item">私家车险</a>
      </div> <!-- list-group -->

      <div class="list-group xyz-theme">
        <div class='list-group-item active'>
          <span class="glyphicon glyphicon-globe"></span>
          企业和团体保险
        </div>
        <a href="#" class="list-group-item">货运险</a>
        <a href="#" class="list-group-item">产责险</a>
        <a href="#" class="list-group-item">团体险</a>
        <a href="#" class="list-group-item">车险</a>
      </div> <!-- list-group -->
    </div>
  </div>
  <div class='col-md-7'>
    <%# link_to '首页', root_path, class: 'navtab active' %>
    <%# link_to '理赔无忧', root_path, class: 'navtab' %>
    <%# link_to '保险学堂', root_path, class: 'navtab' %>
    <%# link_to '你问我答', root_path, class: 'navtab' %>
    <%# link_to '积分换礼', root_path, class: 'navtab' %>
  </div>
  <div class='col-md-2'>
  </div>
</div>
