<div class="row">
  <div class="user">
    <ol class="breadcrumb">
      <li><a href="#">保险超市网</a></li>
      <li><a href="#">会员中心</a></li>
      <li class="active">会员中心首页</li>
    </ol>
  </div>
</div>

<div class="row">
  <div class='col-md-2'>
    <%= render 'nav_admin', user: current_user %>
  </div> <!-- col-md-2 -->
  <div class='col-md-10'>
    <% @users.each do |user| %>
      <div>
        <span><%= link_to user.username, user %> </span>
        <span>email: <%= user.email %> </span>
      </div>
    <% end %>
  </div> <!-- col-md-2 -->
</div>
