<p>
<%= link_to t('cart.buy_now'), { controller: insurance.class.to_s.tableize.sub('insurances', 'items'), action: 'new', insurance_id: insurance }, { class: 'btn btn-danger' } %>

<%= link_to t('cart.add_to_cart'), { controller: insurance.class.to_s.tableize.sub('insurances', 'items'), action: 'add_to_cart', insurance_id: insurance }, { method: :post, class: 'btn btn-warning' } %>

<%# button_to t('cart.add_to_cart'), { controller: insurance.class.to_s.tableize.sub('insurances', 'items'), action: 'add_to_cart', insurance_id: insurance }, { class: 'btn btn-warning' } %>
</p>
