<div class="lay-prod-navgation" id="dev_proFilter">
  <dl class="selected-att fn-clear">
    <dt class="prod-org">您选择了：</dt>
    <dd>
    <div class="my-select">
      <ul>
        <li>
        <strong>
          <label>特色保障:</label>
          自驾出行
          <span></span>
        </strong>
        </li>
      </ul>
    </div>

    <label id="dev_clearAllProp" class="btn-clear fn-right"><span class="btn-sign"></span>清空所选</label>
    </dd>
  </dl>
  <dl>
    <dt>产品目录：</dt>
    <dd><ul>
      <li>
      <span class="prod_prop_list">国内旅行保险</span>
      </li>
      <li>
      <span class="prod_prop_list">国外旅行保险</span>
      </li>
    </ul></dd>
  </dl>
  <dl>
    <dt>保障期限：</dt>
    <dd><ul>
      <li>
      <span class="prod_prop_list" >7天以内</span>
      </li>
      <li>
      <span class="prod_prop_list">1个月以内</span>
      </li>
      <li>
      <span class="prod_prop_list">1-3个月</span>
      </li>
      <li>
      <span class="prod_prop_list">3个月-1年</span>
      </li>

      <li>
      <span class="prod_prop_list">1年多次往返</span>
      </li>

    </ul></dd>
  </dl>

  <div class="moreFilters fn-hide" id="dev_MoreFilters" style="display: none;">
    <dl>
      <dt>承保年龄：</dt>
      <dd><ul>
        <li>
        <span class="prod_prop_list">0-3周岁</span>
        </li>
        <li>
        <span class="prod_prop_list">4-17周岁</span>
        </li>
        <li>
        <span class="prod_prop_list">18-65周岁</span>
        </li>
        <li>
        <span class="prod_prop_list">65周岁以上</span>
        </li>
      </ul></dd>
    </dl>
    <dl class="none-bd">
      <dt>品牌商家：</dt>
      <dd id="dev_showSomebzxm_108">
      <div class="info-baozhang fn-left">
        <ul>
          <li>
          <span class="prod_prop_list">中国平安</span>
          </li>
          <li>
          <span class="prod_prop_list">丘博保险</span>
          </li>
          <li>
          <span class="prod_prop_list">昆仑健康</span>
          </li>
          <li>
          <span class="prod_prop_list">大众保险</span>
          </li>
      </ul></div>
      </dd>

    </dl>
  </div>
</div>

<div class="prod-decoration">
  <div id="dev_showOrHide" class="more-att">
    <label class="down"></label>
  </div>
</div>
