  <div class="panel panel-danger">
    <div class="panel-heading">
      <h3 class="panel-title">保险管理</h3>
    </div>
    <div class="panel-body">
      <ul>
        <li><%= link_to '意外险列表', accident_insurances_path %></li>
        <li><%= link_to '健康险列表', health_insurances_path %></li>
        <li><%= link_to '添加'+t('activerecord.models.accident_insurance'), new_accident_insurance_path %></li>
        <li><%= link_to '添加'+t('activerecord.models.health_insurance'), new_health_insurance_path %></li>
      </ul>
    </div>
  </div> <!-- panel -->
