<div class="panel-xiaomi">
  <div class="list-group xiaomi-theme">
    <div class='list-group-item active'>
      个人和家庭保险
    </div>
    <div class="list-group-item">
      <div>
        <a href="#" class="main-item">旅游险</a>
      </div>
      <a href="#" class="sub-item">自驾出行</a>
      <a href="#" class="sub-item">航班延误</a>
    </div>
    <div class="list-group-item">
      <div>
        <a href="#" class="main-item">意外险</a>
      </div>
      <a href="#" class="sub-item">自驾出行</a>
      <a href="#" class="sub-item">航班延误</a>
    </div>
    <a href="#" class="list-group-item">健康险</a>
    <a href="#" class="list-group-item">财产险</a>
    <a href="#" class="list-group-item">理财险</a>
    <a href="#" class="list-group-item">私家车险</a>
  </div> <!-- list-group -->

  <div class="list-group xiaomi-theme">
    <div class='list-group-item active'>
      企业和团体保险
    </div>
    <a href="#" class="list-group-item">货运险</a>
    <a href="#" class="list-group-item">产责险</a>
    <a href="#" class="list-group-item">团体险</a>
    <a href="#" class="list-group-item">车险</a>
  </div> <!-- list-group -->
</div> <!-- panel-xiaomi -->
