<p id="notice"><%= notice %></p>

<p>
  <strong>Body:</strong>
  <%= @health_insurance.body %>
</p>

<%= link_to 'Edit', edit_health_insurance_path(@health_insurance) %> |
<%= link_to 'Back', health_insurances_path %>
