//.insurance-home {
  .insurance-show {
    margin-bottom: 25px;
    .insurance-title {
      line-height: 40px;
      white-space: nowrap;
      font-weight: bold;
      font-size: 15px;
      a {
        color: #555555;
        &:hover {
          color: #e64211;
        }
      }
    }
    .insurance-synopsis {
      line-height: 19px;
      font-size: 12px;
      color: #666666;
    }
    .insurance-price {
      line-height: 19px;
      //  font-size: 12px;
      color: #666666;
      .price-num {
        font-size: 15px;
        color: #e84720;
      }
    }
  } // .insurance-show
//} // .insurance-home
