form {
  text-align: left;
  font-size: 13px;

  .form-group {
    padding-top: 10px;
    clear: both;
  }

  .form-action {
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 10px;
    clear: both;
  }

  label {
    display: block;
    float: left;
    width: 150px;
//  line-height: 21px;
    line-height: 25px;
//  background-color: #F0F0F0;
//  border: 2px solid #ccc;
    margin-right: 10px;
    padding-right: 10px;
    vertical-align: center;
    text-align: right;
    font-size: 14px;
  }

  input[type=email], input[type=text], input[type=number], input[type=password], textarea {
    float: left;
    font-size: 13px;
    width: 250px;
    line-height: 25px;
    height: 25px;
    padding: 0 10px;
//  border: 2px solid #ccc;
    border: 1px solid #d2d2d2;
  }

  .dynamic-fields {
    margin-left: 175px;
    .form-fields {
      input[type=email], input[type=text], input[type=number], input[type=password], textarea {
        margin-right: 10px;
        width: 50px;
      }
      a {
        width: 50px;
        padding: 5px 15px;
        background-color: #ccccff;
        color: black;
      }
    }
  }

  input[type=checkbox].blue-theme {
    float: left;
    line-height: 25px;
    height: 25px;
    margin-top: -17px;
    padding: 0 10px;
  }

  input[type=submit] {
    float: left;
//  width: 110px;
//  height: 43px;
//  line-height: 43px;
    margin-left: 175px;
    margin-right: 10px;
    margin-bottom: 20px;
    border: none;
    padding: 10px 20px;
    color: #fff;
    background-color: #ff0000;
    font-size: 16px;
    text-align: center;
    &:hover {
      background-color: #ff5050;
    }
  }

  input[type=submit].checkout {
    float: none;
    height: 25px;
    line-height: 25px;
    width:80px;
    margin-left: 0;
    padding: 0 4px;
//  color: #fff;
//  background-color: #ff0000;
    font-size: 13px;
    border-radius: 4px;
    text-align: center;
  }

  .form-link {
    a {
      margin-left: 175px;
      margin-right: 10px;
      color: #ff6060;
    }
  }

  select {
    font-size: 12px;
//  border: 2px solid #ccc;
    border: 1px solid #d2d2d2;
    border-radius: 0;
    height: 25px;
  }
} // form


form.bonatown-login {
  margin: 15px;

  label {
    width: 50px;
    text-align: left;
    font-size: 12px;
  }
  input[type=email], input[type=text], input[type=number], input[type=password], textarea {
    width: 177px;
    font-size: 12px;
    background: #fbfbfb;
    &:focus {
      background: white;
    }
  }

  input[type=submit] {
    margin-left: 70px;
    font-size: 14px;
    background: #f8860d;
  }

  .checkbox {
    margin-left: 70px;
    input[type=checkbox] {
      margin-top: -1px;
      margin-right: 5px;
    }
    label {
      width: 150px;
    }
  }
}
