body {
# padding-top: 20px;
# padding-bottom: 20px;
}

.navbar {
  margin-bottom: 20px;
}

body
{
//  background-color: #1b1b1b;
//  background-color: #5b5b5b;
//  padding-top: 40px;
}

.user .breadcrumb {
  margin-top: 10px;
  background-color: transparent;
  font-size: 95%;
  a {
    color: #70ae4b;
  }
}

.user {
  .panel {
    .panel-heading {
      font-size: 95%;
      color: #666666;
    }

    ul {
      padding-left: 10px;
      color: #666666;

      a {
        text-decoration: none;
        font-size: 85%;
        color: #666666;
        &:hover {
          color: #e54410;
        }
      }
    }
  }
}

.panel-body .btn:not(.btn-block) { width:120px;margin-bottom:10px; }



.search-btn{
  border-radius: 18px;
  border-radius: 4px;
}


.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px;
}
.btn-circle.btn-lg {
  width: 50px;
  height: 50px;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 25px;
}
.btn-circle.btn-xl {
  width: 70px;
  height: 70px;
  padding: 10px 16px;
  font-size: 24px;
  line-height: 1.33;
  border-radius: 35px;
}
