<div class='dynamic-fields'>
  <div class="form-fields">
    <%# f.label :name, class: 'control-label' %>
    <%= f.text_field :name, class: 'form-control' %>
  </div>
  <div class="form-fields">
    <%# f.label :title, class: 'control-label' %>
    <%# f.text_field :title, class: 'form-control' %>
  </div>
  <div class="form-fields">
    <%# f.label :health, class: 'control-label' %>
    <%# f.text_field :health, class: 'form-control' %>
  </div>
  <div class="form-fields">
    <%# f.check_box :_destroy %>
    <%# f.label :_destroy, 'Remove Elevator' %>
    <%= f.hidden_field :_destroy %>
    <%= link_to "remove", '#', class: 'remove_fields' %>
  </div>
</div>
