<div class="indexBottomBox">
  <div class="indexBottom"> 
    <ul>
      <li>
      <strong><a href="#">投保指南</a> </strong>
      <a href="#">如何注册 </a><br/>
      <a href="#"> 如何投保 </a><br/>
      <a href="#">代金券</a>
      </li>
      <li>
      <strong><a href="#">支付方式 </a></strong>
      <a href="#">银联支付 </a><br/>
      <a href="#">邮局汇款 </a> 

      </li>
      <li>
      <strong><a href="#">理赔指南 </a> </strong>
      <a href="#">如何理赔 </a><br/>
      <a href="#">理赔案例</a> 

      </li>
    </ul>

    <div class="indexBottom1box">
      <div class="indexBottom1">
        <a href="#">关于我们 </a>
      </div>
      <div class="indexBottom1">
        <a href="#"> 投诉建议 </a>
      </div>
    </div>                  

    <div class="indexBottom2">
      <%= image_tag("index-index39.jpg") %>
    </div>

  </div>

  <div class="indexBottom3">
    版权所有<font class="fonta">©</font> 中国太平洋保险（集团）股份有限公司
  </div>
</div>
