<div class='sticky-footer'>
  <div class='container'>
    <div class='row'>
      <div class='col-md-12'>
        <ul>
          <li>© 2013 Stacker</li>
          <li><a href='#'>在 Stacker 上提问</a></li>
          <li><a href='#'>隐私政策</a></li>
          <li><a href='#'>计划政策</a></li>
          <li><a href='#'>使用条款</a></li>
          <li><%= language_switch %></li>
        </ul>
        <span id='lang-chooser-wrap' class='lang-chooser-wrap'>
          <!-- image_tag 'google_universal_language_settings-21.png' -->
          <%= render 'layouts/lang_chooser' %>
        </span>
      </div> <!-- .col-md-12 -->
    </div> <!-- .row -->
  </div> <!-- .container -->
</div>
