<div class='topbar-xiaomi'>
  <div class='row'>
    <div class='col-md-2'>
      <h1>保险</h1>
    </div>
    <div class='col-md-6'>
    </div>
    <div class='col-md-4'>
      <div class='row'>
        <div class='col-md-4'>
          保险商城
        </div>
        <div class='col-md-4'>
          登录/注册
        </div>
        <div class='col-md-4'>
          购物车
        </div>
      </div>
    </div>
  </div>
</div>
